body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  padding: 20px;
}

h2 {
  color: #333;
}

.img-class {
  height: 60px;
  margin-right: 10px;
}

@media (max-width: 600px) {
  .img-class {
    display: none;
  }
}
button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}

.app {
  background-color: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
}
.navbar h1 {
  margin: 0;
}

.event-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 10px;
}

.search-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
}
.search-filter input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  width: 50%;
}
.search-filter select {
  padding: 10px;
  border: none;
  border-radius: 8px;
  width: 20%;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.event-card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.event-card img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.event-card h3 {
  margin-top: 10px;
}
.event-card p {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 35px;
  }
}
.event-title {
  font-size: 1.25rem;
}
@media (min-width: 576px) {
  .event-title {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .event-title {
    font-size: 1.75rem;
  }
}
@media (min-width: 992px) {
  .event-title {
    font-size: 2rem;
  }
}

.search-input {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.search-input::-moz-placeholder {
  font-size: 15px;
}
.search-input::placeholder {
  font-size: 15px;
}
@media (max-width: 575.98px) {
  .search-input {
    width: 250px;
  }
  .search-input::-moz-placeholder {
    font-size: 12px;
  }
  .search-input::placeholder {
    font-size: 12px;
  }
}

.search-div {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .search-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.meetup-events-text {
  font-size: 20px;
}
@media (max-width: 575.98px) {
  .meetup-events-text {
    display: none;
  }
}

.top-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 575.98px) {
  .top-div {
    display: flex;
    justify-content: center;
  }
}

.event-select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 150px;
  font-size: 14px;
}
@media (max-width: 575.98px) {
  .event-select {
    font-size: 10px;
    width: 250px;
  }
}

@media (max-width: 600px) {
  .select-event-div {
    display: flex;
    justify-content: center;
  }
}
.main {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
@media (max-width: 600px) {
  .main {
    width: 300px;
  }
}

.second-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.event-card-main {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  margin: 15px;
  box-shadow: 0 4x 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.event-card-relative-div{
  height: 200px;
  overflow: hidden;
  position: relative;
}

.event-card-absolute-div{
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #fff;
  color: black;
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

@media (max-width: 600px) {
  .event-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    margin: 10px;
    box-shadow: 0 4x 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }
}
.view-details {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.event-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.event-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.formatted-date {
  font-size: 14px;
  color: #555;
  margin: 0 0 10px 0;
}

.rsvp-button {
  width: 10vw;
  background-color: #ff5a5f;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  margin-left: 55px;
  margin-top: 25px;
}

.profilePic-class {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}/*# sourceMappingURL=styles.css.map */